body {
  background: url("./coffee-apple.jpg") no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
}

input {
  border-bottom: 0px !important;
}

input:focus {
  box-shadow: 0 0 0 0 transparent !important;
  border-bottom: 0px !important;
}
